<div class="container">
    <div class="header">
        <div class="card-group">
            <p>
              <img src="../../../assets/images/Frame 144.png" alt="" />Manage your tobopay account
            </p>
          </div>
          <h4>How To Deactivate Tobopay Account</h4>   

    </div>
    <div class="header-mobile">
      <div class="card-group">
          <p>
            <img src="../../../assets/images/Frame 144.png" alt="" /> Manage your tobopay account
          </p>
        </div>
        <h4>How To Deactivate Tobopay Account</h4>
  </div>
    <div class="main-content">
        <h4 id="Introduction">Below are quick steps on how to deactivate and delete your Tobopay account.</h4>
       <p>1. First of all, locate your profile page at the button right corner, then navigate to settings.</p>
       <p>2. Then go to deactivate account. Click on Deactivate Account to continue. Then confirm account deactivation.</p>
       <p style="color: #514767;">Note: that by deactivating your account, you lose all your Tobopay data and information.</p>

    </div>
</div>


