<header>
    <a href="#"><img src="https://www.mytobopay.com/assets/logo-3414fa70.png" alt=""></a>
    <nav>
        <ul>
            <li><a routerLink="/home" [class.active] = 'nav("/home")'>Home</a></li>
            <li><a href="/home#features" [class.active] = 'nav("/home#features")'>Features</a></li>
            <li><a href="/home#how-it-works" [class.active] = 'nav("/home#how-it-works")'>How it works</a></li>
            <li><a href="/home#why-tobopay" [class.active] = 'nav("/home#why-tobopay")'>Why Tobopay</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a routerLink="/contact-us" [class.active] = 'nav("/contact-us")'>Contact Us</a></li>
        </ul>
    </nav>
      
    <img src="../../assets/images/Auto Layout Horizontal.svg" class="app-image" alt="">
   <img src="../../assets/images/button.svg" alt="" class="toggle" (click)="toggler()">
</header>