header .toggle {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
    padding-top: 2em;
}

header a img {
    max-width:20rem;
    padding: 0px;
    margin: 0px;
}

header nav {
    border: 1px solid #E4E4E4;
    border-radius: 10em;
    padding:2em;
    padding-left:1.6em;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: inter;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    padding-right:1.5em;
    
}

header nav ul li a:hover {
    color:#533D86;
}
header nav ul li a.active {
    border-radius: 7.5em;
    background-color: #533D86;
    color: white;
    padding:1.2em 2em 1.2em 2em;
    margin-right: 2em;
    font-family: 700;
   font-family: inter;
}
header .app-group {
    display: flex;
    align-items: center;
    gap: 1.6em;
}

header .app-image {
    max-width: 300px;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
header nav {
    display: none;
}
header .app-image {
    display: none;
}
header a img {
    max-width: 150px;
}

header  .toggle {
    display: block;
    padding-right: 2em;
}


}