.container {
  color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin: 0 auto;
  max-width: 1300px;
}
.background {
  background-color: #171717;
 
}
.container .first-section img {
  width: 20px;
  margin-right: 10px;
}
.container .first-section img.logo {
  width: 150px;
}

.container .first-section p {
  font-weight: 200;
  line-height: 1.3rem;
  font-size: 14px;
}

.container .first-section {
  width: 32%;
}

.container .second-section p {
  color: #77777e;
}

.container .second-section a {
  font-size: 14px;
  font-weight: 200;
  display: block;
  text-decoration: none;
  margin-bottom: 15px;
  color: #f3f3f3;
}

.container .third-section p.header {
  margin-top: 14px;
  color: #77777e;
  font-weight: 500;
  font-size: 16px;
}

.container .third-section p {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 14px;
}
.container .third-section p.sub-header {
  margin-bottom: 0px;
  color: #77777e;
}
.container .four-section p {
  color: #77777e;
  margin-bottom: 30px;
}
.container .four-section img {
  display: block;
  margin-bottom: 15px;

  width: 150px;
}

.background p.copyright {
  margin-bottom: 0px;
  text-align: center;
  color:#FFFFFF;
  font-size: 14px;
  padding-bottom: 10px;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .container .first-section {
    width: 100%;
  }
}
