<div class="background">
  <div class="container">
    <div class="first-section">
      <img class="logo" src="../../assets/images/Logo (2).png" alt="" />
      <p>
        Tobopay is a trusted payment platform that provides a simple and secure
        way for users to pay for a wide range of bills and subscriptions. Our
        platform allows you to conveniently pay for services such as electricity,
        internet, airtime, data bundles, education bills, cable TV, and much more.
      </p>
      <div>
        <p style="margin-bottom: 5px">Follow us</p>
        <div class="social">
          <img src="../../assets/images/ri_whatsapp-fill.png" alt="" />
          <img src="../../assets/images/streamline_instagram-solid.png" alt="" />
          <img src="../../assets/images/mage_x.png" alt="" />
          <img src="../../assets/images/uiw_facebook.png" alt="" />
        </div>
      </div>
    </div>
    <div class="second-section">
      <p>Site links</p>
      <a href="#">Home</a>
  
      <a href="#">Sign In</a>
      <a href="/become-an-agent">Become an agent</a>
      <a href="/Deactivate-account">Deactivate account</a>
      <a href="/privacy-of-policy#Introduction">Privacy policies</a>
      <a href="/terms-of-service#Introduction">Terms of services</a>
      <a href="/contact-us">Contact us</a>
    </div>
    <div class="third-section">
      <p class="header">Company Info</p>
      <p class="sub-header">Address</p>
      <p>Opposite bomas, Minna Niger State</p>
      <p class="sub-header">Phone</p>
      <p>(+234) 201 454 9130</p>
      <p class="sub-header">Mail</p>
     <a style="color: white;text-decoration: none;font-size: 14px;" href="mailto:helpdesk@tobopay.co">helpdesk@tobopay.co</a>
    </div>
    <div class="four-section">
      <p>Get app</p>
      <img src="../../assets/images/App Store Blue (2).png" alt="" />
      <img src="../../assets/images/Google Play Blue (2).png" alt="" />
    </div>
  </div>
  
  <p class="copyright" style="font-size: 13px;padding: 20px;font-weight: 300;">© 2024 Tbp Technologies Ltd. All Rights Reserved</p>
</div>