<div class="background">
<div class="wrapper">
    <div class="footer-first">
        <div class="left">
      <h4>Try ToboPay for free on iOS and Android</h4>
      <img src="../../assets/images/Auto Layout Horizontal.svg" class="app-image" alt="">
        </div>
        <div class="right">
       <img src="../../assets/images/Group 1569.png" alt="">
        </div>
      </div>
</div>
<div class="backgroundTwo">
    <div class="wrapper">
        <div class="footer-second">
            <div class="left">
<img src="../../assets/images/logo (2).svg" class="logo" alt="">
<p>Tobopay is a trusted payment platform that provides a simple and secure way for users to pay for a wide range of bills and subscriptions. Our platform allows you to conveniently pay for services such as electricity, 
    internet, airtime, data bundles, education bills, cable TV, and much more.</p>
    <h4>Follow us</h4>
    <a href="https://wa.me/234014549130"><img src="../../assets/images/Frame 1171276166.svg" alt=""></a>
    <a href="https://www.instagram.com/tobopay"><img src="../../assets/images/Frame 1171276164.svg" alt=""></a>
    <a href="https://twitter.com/mytobopay"><img src="../../assets/images/Frame 1171276162.svg" alt=""></a>
    <a href="https://m.facebook.com/tobopay"><img src="../../assets/images/Frame 1171276163.svg" alt=""></a>

            </div>
            <div class="middle">
<div class="company-info">
    <h4>Company info</h4>
    <p><a href="/home/agent"  style="color: white; text-decoration: none;">Become an agent </a></p>
    <p><strong>Address:</strong> Opposite bomas, Minna Niger State</p>
    <p><strong>Phone:</strong> (+234) 014 549 130</p>
    <p><strong>Mail:</strong> help@mytobopay.com</p>
    
</div>
<div>
    <h4>Services</h4>
    <p>Data bundle purchases</p>
    <p>Mobile airtime top-ups</p>
    <p>Education bill payments</p>
    <p>Betting services</p>
    <p>Cable TV subscriptions</p>
    <p>Utility Payment</p>
</div>
            </div>
            <div class="right">
                <div>
                    <h4>Legal</h4>
                    <p><a href="/home/privacy-policy#Introduction" style="color: white; text-decoration: none;">Privacy Policy</a></p>
                    <p><a href="/home/term-of-service#Introduction" style="color: white; text-decoration: none;">Terms of Service</a></p>
                </div>
                <div>
                    <h4>Get the App</h4>
                    <img src="../../assets/images/Frame (4).svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <hr class="hr">
    <div class="last-footer">
        <img src="../../assets/images/© 2023 ToboPay. All Rights Reserved.svg" alt="">
        </div>
</div>
</div>
