<div class="why-choose" id="why-tobopay">
    <div>
    <h4>Why choose <strong>Tobopay</strong></h4>
    <p>Choose Tobopay and enjoy simplified payment processes, save time and effort, 
       experience reliable and secure transactions, and even earn rewards.</p>
       <p class="mobile">Esteem spirit temper too say adieus who direct esteem. It esteems luckily or picture placing drawing.</p>
     </div>
   </div>
  <div class="wrapper">
   <div class="reasons">
       <div class="card-active">
           <img src="../../assets/images/Frame.svg" alt="">
           <h4>Simplify Your Payments</h4>
           <p>You can easily manage your bills and payments with just a few clicks.</p>
       </div>
       <div class="card">
           <img src="../../assets/images/Frame (1).svg" alt="">
           <h4>Time-saving</h4>
           <p>Get to pay your bills from the comfort of your home at any time of the day.</p>
       </div>
       <div class="card">
           <img src="../../assets/images/Frame (2).svg" alt="">
           <h4>Secure and Reliable</h4>
           <p>We work with reputable providers to ensure <strong>your payments are secure.</strong></p>
       </div>
       <div class="card">
           <img src="../../assets/images/Frame (3).svg" alt="">
           <h4>Rewards</h4>
           <p>We rewards our users with cashback, discounts and other exciting offers.</p>
       </div>
   </div>
  </div>