<div class="wrapper">
    <div class="features" id="features">
       <div>
           <h4>ToboPay Features</h4>
       <p>ToboPay offers a wide range of features to cater to your daily financial needs. From bills payments to virtual cards,
            betting and gift cards, our platform makes financial transactions effortless and seamless.</p>
       </div>
   </div>
</div>
<div class="wrapper">
   <div class="features-rowOne">
    <div class="left">
       <img src="../../assets/images/betting_2-9e56f1cc.svg" alt="">
       <h4>Betting</h4>
       <p>Get seamless betting experience with instant deposits and withdrawals.</p>
    </div>
<div class="right">
<img src="../../assets/images/virtual_cards-4944783c.svg" alt="">
<h4>Virtual Cards</h4>
<p>Securely make online payments with our virtual cards. 
Enjoy fast and easy transactions with the added security of one-time use virtual cards.</p>
</div>
   </div>                                                  
</div>
<div class="wrapper">
   <div class="features-rowTwo">
    <div class="left">
       <img src="../../assets/images/bills-b423773f.svg" alt="">
       <h4>Bill Payments</h4>
       <p>Pay your bills with ease and convenience. From electricity bills to internet bills, water bills, and more, 
           you can easily manage and pay your bills all in one place.</p>
    </div>
<div class="right">
<img src="../../assets/images/fast_payments-2e820e9d.svg" alt="">
<h4>Fast Payments</h4>
<p>With just a few clicks, you can quickly and easily transfer money between
    Tobopay accounts or send money to other bank accounts.</p>
</div>
   </div>                                                  
</div>
<div class="wrapper">
   <div class="features-rowThree">
       <div class="gift-card">
           <img src="../../assets/images/gift_card-a1ce76a0.svg" alt="">
           <h4>Gift Card</h4>
           <p>With Tobopay's Gift Card feature, you can buy and sell your gifts cards instantly.</p>
       </div>
       <div class="t-cash">
           <img src="../../assets/images/t_cash-6e383516.svg" alt="">
           <h4>T-Cash</h4>
           <p>Create pins as a means of payment and have the receiver redeem 
               the pin into their wallet as money.</p>
       </div>
       <div class="airtime-swap">
           <img src="../../assets/images/airtime_swap-c51c9d3a.svg" alt="">
           <h4>Airtime Swap</h4>
           <p>Convert excess airtime top-up into cash, saving them the hassle of losing money.</p>
       </div>
   </div>
</div>