<div class="wrapper">
    <header>
        <a href="#" class="logo"><img src="https://www.mytobopay.com/assets/logo-3414fa70.png" alt=""></a>
      <img src="../../assets/images/toogle-close.svg" class="toggle-close" alt="" (click)="toggler()">
    </header>
    <nav>
    <ul>
        <li><a href="#" routerLink="/home" (click)="toggler()" [class.active] = 'nav("/home")'>Home</a></li>
        <li><a href="/home#features" (click)="toggler()" [class.active] = 'nav("/home#features")'>Features</a></li>
        <li><a href="/home#how-it-works" (click)="toggler()" [class.active] = 'nav("/home#how-it-works")'>How It Works</a></li>
        <li><a href="/home#why-tobopay" (click)="toggler()" [class.active] = 'nav("/home#why-tobopay")'>Why Tobopay</a></li>
        <li>Blog</li>
        <li><a routerLink="/contact-us" (click)="toggler()" [class.active] = 'nav("/contact-us")'>Contact Us</a></li>
    </ul>
    </nav>
    
    <div class="app-group">
        <img src="../../assets/images/Auto Layout Horizontal.svg" class="app-image" alt="">
    </div>
    
</div>