.wrapper {
    max-width: 1100px;
    margin:  0 auto;
}

header {
    padding: 0px;
    margin: 0px;
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 150px;
}
 header  img.toggle-close {
    padding-right: 2rem;
 }
 nav {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
 }

 nav ul {
    padding: 0px;
    margin: 0px;
    border: 1px solid #E4E4E4;
    border-radius: 5em;
    padding:2em;

    list-style: none;
    padding-top: 1.5em;
    text-align: center;
 }

 nav ul li {
text-decoration: none;
color: #424242;
font-family: inter;
font-weight: 400;
font-size: 1.8rem;
padding: 1.2em;

 }
 
 nav ul li a {
   text-decoration: none;
   color: #424242;
   font-family: inter;
   font-weight: 400;
   font-size: 1.8rem;
   padding: 1em;
   background-color: white;
   -webkit-tap-highlight-color: transparent;
   -webkit-tap-highlight-color: transparent;
    }
 nav ul li a.active {
    border-radius: 7.5em;
    background-color: #533D86;
    color: white;
    padding:1em 2em 1em 2em;
   font-family: 700;
   font-family: inter;
}

 .app-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
 }
 .app-group img {
    max-width: 300px;
 }