<div class="seven-section">
  <div class="container">
    <div class="left">
      <h4>Try ToboPay for free on iOS and Android</h4>
      <p>
        Purchase Cheap Data Bundles, Convert Airtime to Cash, Send, Receive,
        Request, Pay Bills, & Make Virtual Payments.
      </p>
      <div class="app-group">
        <img src="../../../assets/images/App Store Blue (1).png" alt="" />
        <img src="../../../assets/images/Google Play Blue (1).png" alt="" />
      </div>
    </div>
    <div class="right">
      <img
        src="../../../assets/images/Free Hand Holding iPhone 12 Mini.png"
        alt=""
      />
    </div>
  </div>
</div>
