<div class="wrapper">
    <div class="how-use-tobopay" id="how-it-works">
        <img src="../../assets/images/Frame 1171276097.png" alt="">
        <div>
            <h4>3 Simple Steps to Enjoy <strong>ToboPay.</strong></h4>
            <div class="steps">
                <img src="../../assets//images/Frame 1171276153.svg" alt="">
                <p>Download and Install the App</p>
            </div>
            <div class="steps">
                <img src="../../assets//images/Frame 1171276153 (1).svg" alt="">
                <p>Sign Up on Tobopay for free</p>
            </div>
            <div class="steps">
                <img src="../../assets//images/Frame 1171276153 (2).svg"  alt="">
                <p>Add Funds and Pay Bills</p>
            </div>
        </div>
    </div>
</div>
