.wrapper {
    max-width: 1100px;
    margin:  0 auto;
}
.service-provider-info {
    padding-top: 4.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service-provider-info h4 {
    font-family: inter;
    font-weight: 700;
    font-size: 3.5rem;
    padding: 0px;
    margin: 0px;
}
.service-provider-info p {
    font-family: inter;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5em;
    color: #616161;
}
.service-provider {
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-provider img{
max-width: 750px;
}

@media only screen and (max-width: 1000px) {
    .service-provider-info h4 {
        font-size: 3rem;
        padding: 0px;
        margin: 0px;
    }
    .service-provider-info p {
        font-size: 1.5rem;
       padding: 25px;
       padding-top: 0px;
    }
    .service-provider img{
        padding: 10px;
        max-width: 350px;
        }

}