<div class="wrapper">
    <div class="service-provider-info">
        <div>
            <h4>Over 100+ service providers integrated</h4>
        <p>At Tobopay, we've got you covered with 100+ top-notch service providers that cater to all your needs. From utility bills to airtime and data top-ups, education recharges, 
            cable TV subscriptions, and much more, we've got it all on our app.</p>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="service-provider">
        <img src="../../assets/images/Auto Layout Vertical.png" alt="">
    </div>
 </div>

