<div *ngIf="!toggle">
   <app-learn-more></app-learn-more>
        
        <div class="wrapper">
           <app-header></app-header>
        </div>
        
        <div class="background">
           <div class="wrapper">
            <main>
                <div class="left-col">
                    <div class="text-info">
                        <img src="../../assets/images/Line.svg" alt="">
                        <p >Pay with ease, Tobopay it!</p>
                    </div>
        
               <h4 class="text-header">Manage</h4>
      <h4 class="text-header">your Bills and</h4>
     <h4 class="text-header"> <strong> payment easily.</strong></h4>
             <p>Say goodbye to the hassle of juggling multiple accounts and payment methods. With Tobopay, you can easily track your expenses, 
             receive reminders for upcoming bills, and make payments all from one convenient platform.</p>
                </div>
                <div class="right-col">
        <img src="../../assets/images/Group 44248.svg" alt="">
                </div>
            </main>
           </div>
        </div>
 <app-service-providers></app-service-providers>
 <app-why-choose-tobopay></app-why-choose-tobopay>
<app-features></app-features>
<app-how-it-work></app-how-it-work>
    
    <app-footer></app-footer>
</div>

<div *ngIf="toggle">
    <app-mobile-header></app-mobile-header>
</div>
