.wrapper {
    max-width: 1100px;
    margin:  0 auto;
}

.background {
    background-image: url('../../assets/images/Frame.png');
  background-size: cover;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7em;
}

main .left .text-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color:#EEECF3;
    color: #533D86;
    width: 200px;
    border-radius: 25px;
    
}

main .left .text-info p {
    font-family: inter;
    font-weight: 400;
    font-size: 1.3rem;
}

main .left h4 {
    font-family: inter;
    font-weight: 700;
    font-size: 4rem;
    padding: 0px;
    margin: 0px;
    padding-bottom: 1.5em;
}

main .right {
    width: 52%;
}

main .right p {
    font-family: inter;
    font-weight: 500;
    line-height: 1.5em;
    font-size: 1.2rem;
    margin: 0px;
    padding: 0px;
    padding-bottom: 1.5em;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    }
.form-group .form-contact input {
    width: 17.4em;
}
.form-group input {
    margin-right: 1em;
    border-radius: 25px;
    background-color: #FAFAFA;
    outline: none;
    padding: 1em;
    padding-bottom: 1.5em;
    width: 38em;
    border: 1px solid #FAFAFA;
}
.form-group select{
    margin-right: 1em;
    border-radius: 25px;
    background-color: #FAFAFA;
    outline: none;
    padding: 1em;
    width: 41em;
    border: 1px solid #FAFAFA;
    color: #757575;
    font-size: 1.3rem;
}
.form-group textarea {
    margin-right: 1em;
    border-radius: 25px;
    background-color: #FAFAFA;
    outline: none;
    padding: 1em;
    font-size: 1.3rem;
    border: 1px solid #FAFAFA;
    color: #757575;
}
.form-group .form-contact {
    display: flex;
}
.form-group input::placeholder {
    color: #757575;
    font-size: 1.3rem;
}

.form-group p {
    font-family: inter;
    font-weight: 500;
    font-size: 1.1rem;
    color: #616161;
}

.form-group button {
    width: 100%;
    margin: 1em;
    text-align: center;
    outline: none;
    background-color: #533D86;
    padding: 1.2em;
    border-radius: 25px;
    color: #FAFAFA;
    font-family: inter;
    font-weight: 500;
    border: 1px solid transparent;
}

@media only screen and (max-width: 1000px) { 
    .background {
        background-size: 100em;
        
    }  
main {
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    padding: 2.5em;
}

main .left {
 width: 100%;

}
main .left h4 {
    margin: 0px;
    padding: 0px;
    font-size: 3em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}
main .right {
    width: 100%;
}
main .right p {
    line-height: 1.8em;
    font-size: 1.2rem;
    font-weight: 400;
}
.form-group {
    padding: 2em;
}
.form-group .form-contact input{
 width: 80%;
}
.form-group input {
    width: 90%;
}
.form-group select {
    width: 90%;
    height: 4em;

}

.form-group textarea {
    width: 90%;
}

.form-group button {
    padding: 1.7em;
    width: 90%;
    font-size: 1.3rem;
}
}